@import "./utils/variables";
@import "./utils/reset";
@import "./utils/_general-settings";
@import "./components/header";
@import "./components/logo";
@import "./components/nav";
@import "./components/header-contact";
@import "./components/hero";
@import "./components/quality";
@import "./components/main-work";
@import "./components/team";
@import "./components/regular-customers";
@import "./components/footer-general";
@import "./components/footer-other";
@import "./components/footer-address";
@import "./components/footer-social";
@import "./components/footer-online";
@import "./components/portfolio";
@import "./components/portfolio-filter-list";
@import "./components/portfolio-service-wrap";
@import "./components/portfolio-service-list";
@import "./components/modal-window";
@import "./components/modal-form";
@import "./components/modal-policy";