.footer__other {
	display: block;
	margin-right: 70px;
}

.footer__logo {
	padding-top: 0;
	margin-bottom: 20px;
	font-family: Raleway, sans-serif;
	font-size: 26px;
	font-weight: 700;
	line-height: 1.2;
	color: #ffffff;
}