.footer-online {
	margin-left: 93px;

	&__title {
		font-weight: 700;
  		font-size: 14px;
  		line-height: 1.14;
		text-transform: uppercase;
		margin-bottom: 20px;
	}

	&__inputs {
		display: flex;
	}

	&__input {
		padding-left: 16px;
		width: 358px;
		height: 50px;
		background-color: transparent;
		border: 1px solid rgba(255, 255, 255, 0.3);
		border-radius: 4px;
		color: #ffffff;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
		cursor: pointer;
		transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), filter 250ms cubic-bezier(0.4, 0, 0.2, 1);

		&:hover,
		&:focus {
			border-color: var(--accent-color);
		}
	}

	&__btn {
		display: flex;
		justify-content: center;
  		align-items: center;
		height: 50px;
		min-width: 200px;
		margin-left: 12px;
		color: #ffffff;
  		background-color: #2196f3;
		font-family: inherit;
  		font-weight: 700;
  		font-size: 16px;
  		line-height: 1.87;
  		letter-spacing: 0.06em;
  		cursor: pointer;
  		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  		border: 1px solid transparent;
  		border-radius: 4px;
		transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

		&:hover,
		&:focus {
			background-color: #188ce8;
		}
	}

	&__icon {
		margin-left: 10px;
		fill: #FFFFFF;
	}
}