.hero {
	padding-top: 200px;
	padding-bottom: 200px;
	text-align: center;
	background-color: #2f303a;

	&__background {
		max-width: 1600px;
		margin-left: auto;
		margin-right: auto;
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background.jpg);
		background-repeat: no-repeat;
		background-position: center;
	}

	&__title {
		margin: 0 auto;
		width: 696px;
		font-weight: 900;
		font-size: 44px;
		line-height: 1.36;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		text-align: center;
		color: #ffffff;
   }

	&__button {
		margin-top: 30px;
		padding: 10px 32px;
		color: #ffffff;
		background-color: #2196f3;
		font-family: inherit;
		font-weight: 700;
		font-size: 16px;
		line-height: 1.88;
		letter-spacing: 0.06em;
		cursor: pointer;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
		border: 1px solid transparent;
		border-radius: 4px;
		transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

	&__button:hover,
	&__button:focus {
		background-color:#188CE8;
   }

 }