.modal-policy {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.03em;

	@media screen and (min-width: 1200px) {
		font-size: 14px;
		line-height: 1.71;
	}

	&__txt {
		// display: flex;
		align-items: center;
		justify-content: center;  
		color: #757575;

		@media screen and (min-width: 1200px) {
			display: flex;
		}


		.modal-policy__svg {
			width: 16px;
			height: 15px;
			border: 2px solid #000000;
			border-radius: 2px;
			margin-right: 7px;
			display: inline-flex; // изменил с flex
			align-items: center;
			justify-content: center;

			@media screen and (min-width: 1200px) {
				display: flex;
			}
		}
	}

	&__icon {
		fill: #FFFFFF;
	}

	&__check:checked + &__txt
	{
		.modal-policy__svg {
			border: none;
			background-color: var(--accent-color);
		}
	}

	&__link {
		color: var(--accent-color);
		// margin-left: 5px;

		@media screen and (min-width: 1200px) {
			margin-left: 5px;
		}
	}
}