.modal-form {
	&__field {
		position: relative; 
		display: flex;
		flex-direction: column;
		margin-bottom: 30px;
	}

	&__content {
		font-weight: 400;
    	font-size: 12px;
    	line-height: 1.16;
    	letter-spacing: 0.01em;
    	color: #757575;
		margin-bottom: 4px;
	}

	&__input {
		position: relative;
		padding-left: 42px;
		height: 40px;
		border: 1px solid rgba(33, 33, 33, 0.2);
		border-radius: 4px;
		outline: none;
		transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

		&::placeholder {
			font-weight: 400;
			font-size: 14px;
			line-height: 1.14;
			letter-spacing: 0.01em;
	 		color: rgba(117, 117, 117, 0.5);
		}

	}

	&__input:hover,
	&__input:focus {
		border-color: var(--accent-color);
	}

	&__icon {
		position: absolute;
  		bottom: 11px;
  		left: 12px;
  		transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
		
		&:hover {
			fill: var(--accent-color);
		}
	}

	&__input:focus + &__icon,
	&__input:hover + &__icon {
	  fill: var(--accent-color);
	}

	&__comment {
		padding: 12px 16px;
		width: 100%;
		height: 120px;
		border: 1px solid rgba(33, 33, 33, 0.2);
		border-radius: 4px;
		resize: none;
		outline: none;
		transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

		&::placeholder {
			font-weight: 400;
			font-size: 14px;
			line-height: 1.14;
			letter-spacing: 0.01em;
			color: rgba(117, 117, 117, 0.5);
		}

		&:hover,
		&:focus {
			border-color: var(--accent-color);
		}
	}

	&__submit {
		display: flex;
		padding: 0;	
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
		width: 200px;
		height: 50px;
		font-weight: 700;
		font-size: 16px;
		line-height: 1.87;
		letter-spacing: 0.06em;
		justify-content: center;
		align-items: center;
		border: none;
		color: #ffffff;
		background-color: #2196f3;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
		border-radius: 4px;
		cursor: pointer;
		transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

		&:hover,
		&:focus {
			background-color: #188ce8;
		}
	}

}