.service-list {
	display: flex;
	flex-wrap: wrap;

	&__item {
		width: calc( (100% - 60px) / 3);
		margin-right: 30px;
		margin-bottom: 30px;
		border-bottom: 1px solid #eeeeee;
		border-left: 1px solid #eeeeee;
		border-right: 1px solid #eeeeee;

		&:nth-child(3n) {
			margin-right: 0;
		}

		&:nth-last-child(-n+3) {
			margin-bottom: 0;
		}
	}

	&__shadow {
		transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

		&:hover,
		&:focus {
			box-sizing: border-box;
			box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

			.service-wrap__txt {
				transform: translateY(0);
			}
	
		}
	}

	&__description-card {
		margin-top: 20px;
  		padding-bottom: 20px;
  		padding-left: 24px
	}

	&__title {
		font-weight: 700;
		font-size: 18px;
		line-height: 2;
		letter-spacing: 0.06em;
		color: var(--service-title-color);
	}

	&__text{
		font-size: 16px;
  		line-height: 1.87;
  		letter-spacing: 0.03em;
  		color: var(--service-text-color);

	}
}