.team { 
	padding-top: 94px;
	padding-bottom: 94px;
	background-color:  #F5F4FA;

	&__title{
		margin-bottom: 50px;
		font-weight: 700;
	   font-size: 36px;
	   line-height: 1.17;
	   text-align: center; 
	   letter-spacing: 0.03em;
	   color: var(--color-text-title);
	}

	&__list {
		display: flex;
		margin-right: -30px;
	}

	&__people {
		width: calc( (100% - 120px) / 4);
		margin-right: 30px;
		background-color: #ffffff;
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
		border-radius: 0px 0px 4px 4px;
	}

	&__description-card {
		padding-top: 30px;
		padding-bottom: 30px;
		text-align: center;
	}

	&__name {
		margin-bottom: 10px;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.27;
		letter-spacing: 0.03em;
		color: var(--color-text-name);
	}

	&__position {
		margin-bottom: 16px;
		font-size: 16px;
  		line-height: 1.27;
  		letter-spacing: 0.03em;
		color: var(--color-team-position);
	}

	&__social-list {
		display: flex;
		justify-content: center;
	}

	&__social-item {
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__social-link {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		width: 44px;
		height: 44px;
		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

		&:hover,
		&:focus {
			background-color: #2196F3;
			.team__social-icon {
				fill: #FFFFFF;
			}
		}
	}

	&__social-icon {
		fill: var(--color-cocial-item);
	}

}