:root {
	--primary-text-color: #000000;
	--primary-background-color: #ffffff;
	--accent-color: #2196f3;
	--color-text-title: #212121;
	--web-color-logo: #2196f3;
	--color-text-name: #212121;
	--color-team-position: #757575;
	--color-cocial-item: #AFB1B8;
	--color-customers-item: #AFB1B8;
	/* portfolio */
	--background-button-color: #F5F4FA;
	--color-btn-portfolio: #212121;
	--background-button-color-active: #2196F3;
	--color-btn-portfolio-activ: #FFFFFF;
	--service-title-color: #212121;
	--service-text-color: #757575;
	}